<?xml version="1.0" encoding="utf-8"?>
<!--
https://go.microsoft.com/fwlink/?LinkID=208121.
-->
<Project>
  <PropertyGroup>
    <WebPublishMethod>ZipDeploy</WebPublishMethod>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>https://inh-1616-stbvdb-d-azwe-fa-1.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>false</LaunchSiteAfterPublish>
    <ResourceId>/subscriptions/113f2f57-bad8-4beb-8bb1-18df0f81e5ea/resourceGroups/Tentamen-Serverside/providers/Microsoft.Web/sites/INH-1616-STBVDB-D-AZWE-FA-1</ResourceId>
    <UserName>$INH-1616-STBVDB-D-AZWE-FA-1</UserName>
    <_SavePWD>true</_SavePWD>
    <PublishUrl>https://inh-1616-stbvdb-d-azwe-fa-1.scm.azurewebsites.net/</PublishUrl>
  </PropertyGroup>
</Project>